body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    padding: 20px;
}
.grid div{
    background: #cc7e19d2;
    color: white;
    text-align: center;
    padding: 20px 0;
    border-radius: 6px;
}
.grid{
    display: grid;
    grid-template-columns: 5em 100px 30%;
    width: 800px;
    gap: 10px;
    border: 0;
}
.container{
        display: grid;
        grid-template-areas: 
        "header header"
        "nav main"
        "nav aside"
        "footer footer";
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        height:100vh;
        gap: 10px;
        padding: 10px;
        background-color: beige;
}
header { grid-area: header; background: #bfef88; color: white; text-align: center; }
nav    { grid-area: nav; background: #af6add; color: white; padding: 10px; }
main   { grid-area: main; background: #55eef7; padding: 10px; }
aside  { grid-area: aside; background: #eb76a5; padding: 10px; }
footer { grid-area: footer; background: #bde3e7; color: white; text-align: center; line-height: 60px; }
